html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(216, 100%, 95%, 1);
    background-color: black;
}
.container{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}


/* Home Page */
/*------------------------------------------*/

.brand-link{
    text-decoration: none;
    color: white;
}

/***** HEADER *****/

header{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px #72a1de68;
    z-index: 999;
}

.left-header{
    display: flex;
    align-items: center;
}
.left-header img{
    width: 40px;
    margin: 0 15px;
}

header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde65;
}



header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin: 0 10px;
}


.link-icons{
    display: flex;
    gap: 40px;
}
.link-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #727fde;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}
.link-icons a:hover{
    background-color: #727fde;
    color: black;
    box-shadow: 0 0 15px #727fde6f;
}

.blackhole{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: lighten;
}
.blackhole video{
    width: 100%;
    margin-top: -23.5%;
}


/***** PBODY *****/

.pbody{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.pbody-infos{
    position: absolute;
    padding-top: 30px;
    left: 5%;
}
.pbody-infos .pbody-infos-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}
.pbody-infos h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.pbody-infos p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}
.pbody-infos button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.2s;
}
.pbody-infos button:hover{
    box-shadow: 0 0 15px #727fde86;
}
.pbody-elt-box{
    position: absolute;
    right: 3%;
}
.pbody-elt-box img{
    height: 400px;
    padding-right: 70px;
    mix-blend-mode: difference;
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 49%;
    bottom: 8%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(211, 211, 211, 0.477);
}
.scroll-down::before,
.scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 49%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite;
}
.scroll-down:before{
    top: 30%;
    animation-delay: 0.5s;
}


/***** HOME INFOS *****/

.home-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}
.secthi-title{
    font-size: 40px;
    font-weight: 700;
}
.infos-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.card{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: auto;
    height: 40vh;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #080020b7;
    border-radius: 20px;
    transition: 0.3s;
}
.card iframe{
    position: absolute;
    bottom: 5%;
    align-self: center;
}
.card h1{
    position: absolute;
    margin: 0;
    top: 10%;
    left: 5%;
    font-size: 25px;
    z-index: 1;
    color: lightgray;
}
.card p{
    position: absolute;
    margin-top: 20%;
    left: 5%;
    z-index: 1;
    max-width: 300px;
    color: gray;
    font-size: 13px;
    line-height: 20px;
}
.card video{
    margin-top: 10%;
    width: 70%;
    height: 50%;
    object-fit: cover;
    mix-blend-mode: lighten;
    z-index: 2;
}
.card button{
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.card button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}
.card:hover{
    box-shadow: 0 0 15px rgba(211,211,211,0.5);
}


/***** CONTACTS *****/
.contacts{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    position: relative;
}
.contacts h1{
    position: absolute;
    top: 10%;
    left: 40%;
}

.social-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.social-box a{
    color: lightgray;
    text-decoration: none;
    font-size: 20px;
    text-wrap: nowrap;
}
.social-box i{
    color: #727fde;
    font-size: 30px;
    margin-right: 10px;
}


.social-icons a i{
    color: white;
    margin-top: 40px;
}

.contact-box h3{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 5px;
}



/***** FOOTER *****/
footer{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgba(255,255,255,0.128);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(255,255,255,0.356);
    z-index: 999;
}
footer h1{
    font-size: 30px;
}


/*------------------------------------------*/


/* Summary Page */
/*------------------------------------------*/

/***** PBODY *****/

.pbody-topics{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}
.pbody-topics-infos{
    position: absolute;
    padding-top: 30px;
    left: 5%;
}
.pbody-topics-infos .pbody-infos-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde77;
    width: 240px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}
.pbody-topics-infos h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.pbody-topics-infos p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}
.pbody-topics-elt-box{
    position: absolute;
    right: 3%;
    mix-blend-mode: lighten;
}
.pbody-topics-elt-box img{
    height: 400px;
    padding-right: 70px;
    mix-blend-mode: difference;
}


/***** Summary *****/

.topics{
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    position: relative;
    width: 80%;
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 700px;
    bottom: 50px;
}
.topics-card{
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 10%;
    justify-content: center;
}
.topics-imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    cursor: pointer;
    min-width: 400px;
    transition: 0.5s;
    mix-blend-mode: difference;
}
.topics-imgbox img{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: 0.5s;
}
.topics-imgbox img:hover{
    box-shadow: 0 0 20px lightgray;
}
.topics-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}
.topics-info h1{
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 0;
    max-width: 450px;
}
.topics-info p{
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 50px;
    margin-top: 0;
}
.topics-info button{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #727fdeb4;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde86;
    cursor: pointer;
    transition: 0.3s;
}
.topics-info button:hover{
    box-shadow: 0 0 15px #727fde86;
    opacity: 0.7;
}











/* Scroll Down Animation */
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%, 60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}
/** ------------ **/





/* Responsive and adaptive website */

@media(max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
@media(min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}











